
bin/
/.cache/
/.coverage
develop-eggs/
dist/
*.egg-info/
/htmlcov/
.installed.cfg
lib/
lib64
pip-selfcheck.json
*.py?
pyvenv.cfg
/report.xml
/result
/result-2
*.sw?
/tags
eggs
include
deploy-rsa
*.sublime-project
*.sublime-workspace
.floo
.flooignore
/Library/Caches
