include example_sensu_check.json
include LICENSE
include *.nix
include *.rst
include *.txt
include VERSION
recursive-exclude doc 2017-03-11-Vulnix.pdf
recursive-include src *.py *.yaml *.xml *.xml.gz
