BTrees==4.4.1
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.4.1
idna==2.5
lxml==3.8.0
persistent==4.2.4.2
py==1.4.34
pytest==3.2.1
pytest-catchlog==1.2.2
pytest-cov==2.5.1
pytest-runner==2.11.1
pytest-timeout==1.2.0
PyYAML==3.12
requests==2.18.3
setuptools-scm==1.15.6
six==1.10.0
transaction==2.1.2
urllib3==1.22
zc.lockfile==1.2.1
ZConfig==3.2.0
ZODB==5.2.4
zodbpickle==0.6.0
zope.interface==4.4.2
